
body {
    font-family: 'Calibri', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
}

/* --------Seccion index --------------*/

.general-content{
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 100px; 
}

.general-content button,
.general-content input {
    display: block;
    margin: 10px auto;
    width: 250px;
}

#nombre-usuario {
    padding: 10px;
    border: 1px solid#a2a3a7;
    box-shadow: none;
    outline: none;
    border-radius: 5px;
    text-align: left; 
}

/* Boton Ingresar*/
#boton-ingresar {
    background-color: #3178FF; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 270px;
    transition: 0.3s ease;
}
#boton-ingresar:hover {
    background-color: #2457b6; 
}



/* --------Seccion Productos --------------*/

#listado-productos, #listado-productos-en-carrito {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin: 0 auto ;
    gap: 5px;
}

.producto-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: left;
    display: inline-block;
    max-width: 200px;
}

.producto-item img {
    width: 100%;
    height: auto;
}

.producto-item h3 {    
    margin: 10px 0;
}

.producto-item p {
    margin: 5px 0;
}

.boton-agregar-carrito {
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: 0.3s ease;
}


@media (max-width: 932px) {
    #listado-productos {    
        margin: auto 0px;
    }
}

@media (max-width: 768px) {
    #listado-productos {    
        padding: 0px;
        margin: 0px;

    }

    .producto-item {
        max-width: 150px;
        margin: 10px 0;
    }
}


.item-carrito {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 10px 0;
}

.boton-carrito {
  background-color: #3178FF;
  color: #fff;
  border: none;
  width: 32px;
  height: 32px;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background 0.2s;
}

.boton-carrito.eliminar {
  background-color: #db4f4f;
}

.boton-carrito:hover {
  opacity: 0.85;
}

.cantidad-producto {
  min-width: 24px;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
}