
<nav>
    <div class="nav-container">
        <div class="nav-title">
            <img src="./assets/images/logo-autopartes.png" alt="Logo" class="logo-image">
            <h2>AutoPartes Express</h2>
        </div>
        <div class="alumnos">
            <p>Franco Bulotas</p>
            <p>Candela</p>
        </div>
        <div class="nav-links">
            <div><a class="a-nav" href="./index.html">Inicio</a></div>
            <div><a class="a-nav" href="./productos.html">Productos</a></div>
            <div>
                <a class="a-nav" href="./carrito.html">
                    <img class="carrito-image" src="./assets/images/carrito-autopartes.png" alt="">
                    <span class="carrito-count">0</span>
                </a>
            </div>            
        </div>
    </div>
</nav>