
<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head.ejs') %>

  <body>
    <%- include('partials/nav.ejs') %>

    <h1>aca van los productos a editar y demas</h1>

    <%- include('partials/footer.ejs') %>
  </body>
</html>